<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sharedListeners>
            <add type="System.Diagnostics.ConsoleTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ConsoleListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
            <endToEndTracing propagateActivity="true" activityTracing="true"
                messageFlowTracing="true" />
        </diagnostics>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_Subscriber" receiveTimeout="00:00:15"
                    sendTimeout="00:00:15" clientBaseAddress="http://localhost:8734/client/dispatcher"
                    maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/server/subscriber/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_Subscriber"
                contract="Server.Subscriber" name="WSDualHttpBinding_Subscriber">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>